
<!--main 页面主体开始-->   
<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12 warp">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>维修培训</li>
			 <li>基地简介</li>
		</@macro.Breadcrumb>
		
		 <div class="row">
        	<div class="col-lg-3 service-index">
        		<div class="panel panel-primary">
   					<div class="panel-heading">
		            	<p style="font-size:16px; font-weight:bold; letter-spacing:2px;">维修培训</p>
		                Repair training
   					</div>
     
				   	<ul class="list-group">
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">基地简介</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckrepair.html">卡车维修</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/trucksales.html">卡车销售</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckserve.html">卡车服务 </a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckcontact.html">联系我们</a></li>
				   	</ul>
				</div>
        	</div>
        	
      		<div class="col-md-9" style="padding-top:0px;margin-top:0px">
	      		<div class="base_con">
	      			<div class="title">&bull; 卡车之友商用车维修技师实训基地 &bull;</div>
	      			
	                <div class="basetitle"><span>BASE PROFILE</span>  基地简介</div>
	                <img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                <div class="baseprofile_l">国家环保标准不断提升，各地要求逐步淘汰黄标车的大背景下，广大商用车售后维修企业对电喷柴油共轨维修技术提升的强烈需求，上海高起汽车文化传播有限公司与咸宁职业技术学院合作建立卡车之友实训基地，配置各类发动机教具、共轨喷油器检测维修试验台、检测仪等教学设备，达到理论实践相结合，经过培训的学员，快速诊断出电控共轨故障点。</div>
	                <div class="baseprofile_r"><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic.png"></div>
	                <div class="clear"></div>
	                <ul class="basepic">
	                	<li><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic02.png"></li>
	                    <li><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic03.png"></li>
	                    <li><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic04.png"></li>
	                    <li><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic05.png"></li>
	                </ul>
	                <div class="clear"></div>
	            </div>
	            <div class="basepart">
	            	<div class="basetitle"><span>BASE PROFILE</span>  名师介绍</div>
	                <img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                <div class="teacherbody">
	                	<div class="name">王雪艳</div>
	                    <div class="miaoshu">从事汽车维修技术工作18年，从一线汽车维修人员到浙江汽车职业技术学院高职教育研究所高级教育研究员，是理论实
	际相结合的汽车维修技术专家</div>
						<div class="chengji">
	                    	<p style="font-weight:bold;">主要科研成果:</p>
	                        <p>汽车检测与维修技术3D理实一体化教学实践与研究</p>
	                        <p style="font-weight:bold;">主要著作：</p>
	                        <p>《电控汽车自动变速器培训教程》黑龙江科技出版社</p>
	                        <p>《电控汽车汽油发动机培训教程》黑龙江科技出版社</p>
	                        <p>《电控汽车柴油发动机培训教程》黑龙江科技出版社</p>
	                        <p>《电控汽车防盗培训教程》黑龙江科技出版社</p>
	                        <p>《电控汽车自动变速器油路剖析》黑龙江科技出版社</p>
	                        <p>《自动变速器原理与维修》地图出版社</p>                        
	                    </div>
	                    
	                </div>
	                <div class="teacherbody">
	                	<div class="name">夏文恒</div>
	                    <div class="miaoshu">吉林工业大学内燃机与热力专业学士学位，高级工程师、国家级汽车维修注册培训师、国家级汽车维修师、汽车配件营	销技能鉴定高级考评员</div>
						<div class="chengji">
	                    	<p style="font-weight:bold;">主要科研成果:</p>
	                        <p>汽车检测与维修技术3D理实一体化教学实践与研究</p>
	                        <p style="font-weight:bold;">主要著作：</p>
	                        <p>《电控汽车空调维修教程》</p>
	                        <p>《汽车自动变速器维修教程》</p>
	                        <p>《汽车空调的维修》</p>
	                        <p>《汽车车身电器的维修》</p>
	                        <p>《汽车动力电器的维修》</p>
	                        <p>《汽车保养》</p> 
	                        <p>《汽车美容》</p>   
	                        <p>《应用型高校汽车服务工程专业教学新理念探索》</p>                          
	                    </div>
	                </div>
	            </div>
	         </div>.
      	</div>
	</div>
</div>
