<!--main 页面主体开始-->   
<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>维修培训</li>
			 <li>联系我们</li>
		</@macro.Breadcrumb>
		
		 <div class="row">
        	<div class="col-lg-3">
        		<div class="panel panel-primary service-index">
   					<div class="panel-heading">
		            	<p style="font-size:16px; font-weight:bold; letter-spacing:2px;">维修培训</p>
		                Repair training
   					</div>
     
				   	<ul class="list-group">
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">基地简介</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckrepair.html">卡车维修</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/trucksales.html">卡车销售</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckserve.html">卡车服务 </a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckcontact.html">联系我们</a></li>
				   	</ul>
				</div>
        	</div>
        	
        	<div class="col-md-9" style="padding-top:0px;margin-top:0px">
		        <div class="baseinfo">        	
		            <div class="basetitle02"><span>CONTACT US</span>  联系我们</div>
		            <img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
		            <table class="basetable" border="0">
		            	<tbody>
		                	<tr>
		                    	<td style="width:40px;"><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basebg01.png"></td>
		                        <td>座机：027-84768870</td>
		                        <td>技术咨询：182 4614 9969</td>
		                    </tr>
		                    <tr>
		                    	<td><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basebg02.png"></td>
		                        <td colspan="2">湖北省咸宁市横温路职教园内(湖北省咸宁技师学院)</td>
		                    </tr>
		                    <tr>
		                    	<td><img src="${requestContext.contextPath}/media/image/kachezhiyou/service/basebg03.png"></td>
		                        <td colspan="2">咸宁站：乘坐8路公交车至中百仓储下车，换乘3路公交车至职教园下车；</td>
		                    </tr>
		                    <tr>
		                    	<td></td>
		                        <td colspan="2">咸宁北：乘坐1路公交车到岔路口站下车，转乘3路公交车至职教园站下车；</td>
		                    </tr>
		                    <tr>
		                    	<td></td>
		                        <td colspan="2">招生对象：汽车服务站维修人员&nbsp;&nbsp;&nbsp;&nbsp;校泵站维修人员&nbsp;&nbsp;&nbsp;&nbsp;汽车修理厂维修人</td>
		                    </tr>
		                    <tr>
		                    	<td></td>
		                        <td colspan="2">开课时间：常年开班，每月1号、15号开课（为保证教学质量，每期限额15名学员)</td>
		                    </tr>
		                </tbody>
		            </table>
		            <img style="margin-top:50px; padding-bottom:80px;" src="${requestContext.contextPath}/media/image/kachezhiyou/service/basemap.png">
		        </div>
			</div>
		</div>
	</div>
</div>
       
