<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>维修培训</li>
			 <li>卡车服务</li>
		</@macro.Breadcrumb>
		
		<div class="row">
        	<div class="col-lg-3">
        		<div class="panel panel-primary service-index">
   					<div class="panel-heading">
		            	<p style="font-size:16px; font-weight:bold; letter-spacing:2px;">维修培训</p>
		                Repair training
   					</div>
     
				   	<ul class="list-group">
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">基地简介</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckrepair.html">卡车维修</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/trucksales.html">卡车销售</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckserve.html">卡车服务 </a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">联系我们</a></li>
				   	</ul>
				</div>
        	</div>
        	
      		<div class="col-md-9" style="padding-top:0px;margin-top:0px;">
	        	<div class="base_con">
	        		<div class="title">&bull; 卡车之友商用车维修技师培训课程 &bull;</div>
	                <div class="mainbody">
	                	<div class="basetitle"><span>A:</span>  汽车基础电气培训班</div>
	                	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                    <div class="subbody">
	                    	<div class="sub-heading"><span>CURRICULUM BACKGROUND</span>  课程背景</div>
	                        <div class="subbody_con">
	                        	当前柴油车进入电控时代，而想要修好电控柴油车就必须涉及到电气。在传统的国二柴油发动机上只有启动系统与发电机与电有关，现代的国三、国四柴油发动机都是以电脑（ECU)控制燃油喷射系统的，甚至底盘与车身部分也是由电脑控制。所以对汽车维修人面临着电气部分的技术挑战。根据这种需求我们开设了汽车基础电气培训班。
	                        </div>
	                    </div>
	                    <div class="sub-heading"><span>COURSE DESCRIPTION</span>  课程介绍</div>
	                    <img style="margin-top:10px;" src="${requestContext.contextPath}/media/image/kachezhiyou/service/syllabus01.png">
	                 </div>
	                 <div class="mainbody">
	                	<div class="basetitle"><span>B:</span>  电控柴油共轨精修培训班</div>
	                	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                    <div class="subbody">
	                    	<div class="sub-heading"><span>CURRICULUM BACKGROUND</span>  课程背景</div>
	                        <div class="subbody_con">
	                        	电控柴油共轨精修培训班所开设的课程主要以博世共轨系统为主，电装、德尔福等系统为辅，进行全面讲解分析共轨系统的工作原理以及故障诊断。我们通过五步教学法因人而宜接近一对一教学，通过东风雷诺DCI11发动机试验台与康明斯发动机试验台进行实际故障设置与排查使学员快速掌握柴油共轨维修技术。
	                        </div>
	                    </div>
	                    <div class="sub-heading"><span>COURSE DESCRIPTION</span>  课程介绍</div>
	                    <img style="margin-top:10px;" src="${requestContext.contextPath}/media/image/kachezhiyou/service/syllabus02.png">
	                    
	                </div>
	                <div class="mainbody">
	                	<div class="basetitle"><span>C:</span>  电控柴油喷油器精修培训班</div>
	                	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                    <div class="subbody">
	                    	<div class="sub-heading"><span>CURRICULUM BACKGROUND</span>  课程背景</div>
	                        <div class="subbody_con">
	                        	电控柴油喷油器精修培训班开设的课程为共轨喷油器精修，高压油泵精修及电控发动机故障诊断思路。我们进行一对一教学，使学员快速掌握喷油器精修方法及电控发动机故障分析方法。我们要求学员自带故障喷油器，自己动手维修，使其修复至接近出厂标准时予以毕业。（学员所带喷油器维修配件费用自理）。
	                        </div>
	                        <div class="sub-heading"><span>COURSE NECESSITY</span>  课程必要性</div>
	                        <div class="subbody_con">
	                        	目前很多学员反映，维修喷油器时更换了阀组件，车辆当时修好了可用了一段时间又坏了，或更换阀组件后有的出现发动
	机功率不平衡、爆燃、甚至难以启动；还有的冒烟、费油等等。</br> 
	什么原因造成这样？其实是更换阀组件后没有调试或调试不当没有按照标准的工艺流程装配造成的。喷油器是全车最精密的元件，元件的配合间隙用微米计算的，如果还按传统模式维修，那么显而易见越修越乱，达不到真正维修标准。车主会认为修后的喷油器用不住或用不了，直接换新的。 大型维修服务企业维修国三、国四车辆时，喷油器一部分更换新总成或送出去维修。如果送出去维修不光会降低利润额甚至会造成一部分客户的流失。 
	                        </div>
	                    </div>
	                    <div class="sub-heading"><span>COURSE DESCRIPTION</span>  课程介绍</div>
	                    <img style="margin-top:10px;" src="${requestContext.contextPath}/media/image/kachezhiyou/service/syllabus03.png">
	                    
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
<!--main 页面主体结束--> 

