<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>维修培训</li>
			 <li>卡车服务</li>
		</@macro.Breadcrumb>
		
		<div class="row">
        	<div class="col-lg-3">
        		<div class="panel panel-primary service-index">
   					<div class="panel-heading">
		            	<p style="font-size:16px; font-weight:bold; letter-spacing:2px;">维修培训</p>
		                Repair training
   					</div>
     
				   	<ul class="list-group">
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">基地简介</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckrepair.html">卡车维修</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/trucksales.html">卡车销售</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckserve.html">卡车服务 </a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">联系我们</a></li>
				   	</ul>
				</div>
        	</div>
        	
      		<div class="col-md-9" style="padding-top:0px;margin-top:0px;">
	        	<div class="base_con">
	           		<div class="title">&bull; 服务赢销：一线服务精英实战训练营 &bull;</div>
	                <table colspan="4" style="border: 1px solid #428bca">
	                	<tbody>
	                    	<tr style="height:45px; background:#147cd4;">
	                        	<th></th>
								<th>传统培训</th>
	                            <th>特训营</th>		                            
	                        </tr>
	                        <tr>
	                        	<td style="width:100px; background:#4396dd; font-size:22px; color:#fff; text-align:center;">方式 ></td>
	                            <td>相对来说授课方式单一，主要以讲授，演示等为
	主，利于知识传授，但是学员处于被动接收</td>
								<td>包含传统的理论授课方式同时，兼具体验式互动，让学员深
	度体验，主动学习理论授课+团队培训+军事化管理</td>
	                        </tr>
	                        <tr>
	                        	<td style="width:100px; background:#4396dd; font-size:22px; color:#fff; text-align:center;">过程 ></td>
	                            <td style="background:#e2e2e2;">缺乏过程管控，模块衔接不够紧密，课程过程缺
	乏监控，不利于培训目的达成</td>
								<td style="background:#e2e2e2;">采用“N+1”老师团队，除专业课老师外，有专职的带队教
	练，且将日常行为等纳入考核范围，全程把控培训每一环节</td>
	                        </tr>
	                        <tr>
	                        	<td style="width:100px; background:#4396dd; font-size:22px; color:#fff; text-align:center;">效果 ></td>
	                            <td>培训效果只要体现在培训阶段，培训结束后，效
	果偏弱，持续性不强；学员主要是“外”在改变</td>
								<td>通过在训练营期间多样化培训方式，影响学员内在心理，从
	而改变后期行为，使得培训效果得以延续，并“内”在改善。</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	            
	            <div class="basepart">
	            	<div class="basetitle"><span>“精英特训营”</span>  内容安排</div>
	                <img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	                <img style="margin-top:40px;" src="${requestContext.contextPath}/media/image/kachezhiyou/service/basepic06.png">
	            </div>
		     </div>
		</div>        
    </div>
</div>

