<!--main 页面主体开始-->   
<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>维修培训</li>
			 <li>卡车销售</li>
		</@macro.Breadcrumb>
		
		<div class="row">
        	<div class="col-lg-3">
        		<div class="panel panel-primary service-index">
   					<div class="panel-heading">
		            	<p style="font-size:16px; font-weight:bold; letter-spacing:2px;">维修培训</p>
		                Repair training
   					</div>
     
				   	<ul class="list-group">
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/index.html">基地简介</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckrepair.html">卡车维修</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/trucksales.html">卡车销售</a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckserve.html">卡车服务 </a></li>
				      <li class="list-group-item"><a href="${requestContext.contextPath}/service/truckcontact.html">联系我们</a></li>
				   	</ul>
				</div>
        	</div>
        	
        	<div class="col-md-9" style="padding-top:0px;margin-top:0px">
	        	<div class="base_con">
	        		<div class="title">&bull; 模压：一线销售精英实战训练营 &bull;</div>
	        		
	                <div class="basetitle"></div>
	                <img src="${requestContext.contextPath}/media/image/kachezhiyou/service/titleline02.png">
	               	<div class="moyatext">理论知识培训为主，军事化训练位辅，通过三位一体的培训体系，达到提高培训后价值输出，延续自我学习意愿，提升专业技能的目的。</div>
	                <div class="moya_body">
	                	<div class="moya_body_con">
	                    	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic01.png">
	                        <p style=" color:#147cd4;">认识自我，“内动”至“体行”</p>
	                        <p>励志心灵案列分享及引导，重新认识自我，“内动”至“体行”</p>
	                    </div>
	                    <div class="moya_body_con">
	                    	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic02.png">
	                        <p style=" color:#147cd4;">永不放弃的优秀品质</p>
	                        <p>军事化训练，培养吃苦，永不放弃的优秀品质</p>
	                    </div>
	                    <div class="moya_body_con">
	                    	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic03.png">
	                        <p style=" color:#147cd4;">提升整体战斗力</p>
	                        <p>高密度的理论灌输及技能模拟，提升整体战力</p>
	                    </div>
	                    <div class="clear"></div>
	                </div>
	                <div class="moya_pic">
	                	<img src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic04.png">
	                    <img style="padding-left:40px" src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic05.png">
	                    <img style="padding-left:40px" src="${requestContext.contextPath}/media/image/kachezhiyou/service/moyapic06.png">
	                </div>
	            </div>
		     </div>
        </div>
    </div>
</div>   
