<div id="Page_StationDetail" data-role='page' class="row hidden">
	<div class="col-lg-12">
		<ul id="myTab" class="nav-tabs nav" style="background:#f8f8f8;">
		   <li class="active left">
		      <a href="#intro" data-toggle="tab">
		       	  服务站信息
		      </a>
		   </li>
		   <li class="right"><a href="#image" data-toggle="tab">服务站图片</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		   <div class="tab-pane fade in active" id="intro" style="padding-top:20px;">
		      <form id="frm_station" data-entity="Station" class="form-horizontal" enctype="multipart/form-data">
					<input type="hidden" id="stationId" name="stationId"/>
					<input type="hidden" id="provinceName" name="provinceName"/>
					<input type="hidden" id="cityName" name="cityName"/>
					<input type="hidden" id="areaName" name="areaName"/>
					
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="服务站名称"
							name="name" /></div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="control-label col-lg-2">地址</label>
								<div class="col-lg-2">
									<@macro.field_select name="province" statementId="DataInfo.Query" filter="parentId:1" optionValue="id" optionName="label" cascade="city">
										<option value="">选择省份</option>
									</@macro.field_select>
								</div>
								<div class="col-lg-2">
									<@macro.field_select name="city" statementId="DataInfo.Query" optionValue="id" optionName="label" filter="parentId"  initial="0" cascade="area">
										<option value="">选择市</option>
									</@macro.field_select>
								</div>
								<div class="col-lg-2">
									<@macro.field_select name="area" statementId="DataInfo.Query" optionValue="id" optionName="label" filter="parentId" initial="0">
										<option value="">选择区</option>
									</@macro.field_select>
								</div>
								<div class="col-lg-4">
									<input id="address" name="address" type="text" class="form-control" placeholder="">
								</div>
							</div>
						</div>
					</div>
		
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="联系人"
							name="contacter" /></div>
						<div class="col-lg-6"><@macro.form_text label="联系人电话"
							name="contactTel" /></div>
					</div>
					
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="维修预约联系人"
							name="reservationUser" /></div>
						<div class="col-lg-6"><@macro.form_text label="维修预约联系电话"
							name="reservationPhone" /></div>
					</div>
					
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="整车销售联系人"
							name="autoSaleUser" /></div>
						<div class="col-lg-6"><@macro.form_text label="整车销售联系电话"
							name="autoSalePhone" /></div>
					</div>
					
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="配件销售联系人"
							name="partSaleUser" /></div>
						<div class="col-lg-6"><@macro.form_text label="配件销售联系电话"
							name="partSalePhone" /></div>
					</div>
					
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="传真" name="fax"
							/></div>
						<div class="col-lg-6"><@macro.form_text label="资质级别"
							name="qualification" /></div>
					</div>
		
					<div class="row">
						<div class="col-lg-6"><@macro.form_text label="开户银行"
							name="accountBank" /></div>
						<div class="col-lg-6"><@macro.form_text label="开户银行账户"
							name="accountNo" /></div>
					</div>
					<div class="row">
						<div class="col-lg-6" >
							<@macro.form_select label="主属品牌" name="brand" statementId="cvfans.queryAutoBrandInfoes" optionValue="label" optionName="label">
							</@macro.form_select>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<@macro.form_checkbox name="subBrand" label="从属品牌"
							statementId="cvfans.queryAutoBrandInfoes" span="2,10" cols=7 value="label"  deserialized="false"/>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<@macro.form_checkbox name="serviceMemo" label="服务品牌"
							statementId="cvfans.queryAutoBrandInfoes" span="2,10" cols=7 value="label"  deserialized="false"/>
						</div>
					</div>
					<div class="row hidden">
						<div class="col-lg-6"><@macro.form_text label="经度"
							name="posLong" /></div>
						<div class="col-lg-6"><@macro.form_text label="纬度"
							name="posLat" /></div>
					</div>
					
					<div id="uploadify" class="row">
						<div class="col-lg-6">
							<@macro.form_file label="Logo图标" name="logoFile" />
						</div>
						
						<div class="col-lg-6">
							<@macro.form_file label="服务许可证" name="licenseFileUri" />
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
							<@macro.form_textarea label="简介" name="briefIntro" span="2,10" placeholder="500字以内"/>
						</div>
					</div>
				    <div class="row">
						<div class="col-lg-12">
							<@macro.form_textarea label="站内服务" name="stationservice" span="2,10" placeholder="500字以内"/>
						</div>
					</div>
					<div class="space12"></div>
					<div class="row ">
						<div class="col-lg-12" style="text-align:center">
							<@macro.button_save form="frm_station"/>
							<@macro.button_back/></div>
					</div>
				</form>
		   </div>
		   <div class="tab-pane fade" id="image"  style="padding-top:20px;">
		   		<form id="frm_image_query">
		   			<input type="hidden" id="stationId" name="stationId" value="${Session.User.ownerId}"/>
		   		</form>
		   		
		      	<div class="row">
					<div class="col-lg-12" style="text-align:right">
						<@macro.button_add page="Page_StationImage"/>
	        			<@macro.button_delete table="datatable_station_image" url="/Persist/StationImage/Delete.action" message="是否要删除当前选择的图片?" success="function:queryStationImages" />
					</div>
				</div>
				<div class="space12"></div>
				<div class="row">
					<div class="col-lg-12">
						<@macro.dataTable id="datatable_station_image" statement="StationImage.Query" criteria="frm_image_query">
							<thead>
								<tr role="row">
									<th tabindex="0"><div class="checkbox" style="width:20px;"> <label><input type="checkbox" class="dataTable_selectAll"/></label></div></th>
									<th tabindex="0"></th>
									<th tabindex="1"></th>	
									<th></th>
								</tr>
							</thead>
							<tbody/>
						</@macro.dataTable>
					</div>
				</div>
		   </div>
		</div>
	</div>
</div>
