<div class="row">
	<div class="col-xs-12 downbanner">
		<img src="${requestContext.contextPath}/media/image/downbanner.png" style="width: 100%;">
	</div>
	<div class="col-xs-12 btnsty">
			<img src="${requestContext.contextPath}/media/image/btnsty.png" style="width: 100%;">
    </div>
	<div class="col-xs-12 downbtn" style="text-align:center;">
		<a id="download"
			href="${requestContext.contextPath}/download/cvfans.apk"><img
				src="${requestContext.contextPath}/media/image/downbtn.png"> </a>
	</div>
	
	<div class="col-xs-12 downbtn" style="text-align:center;">
		<a href="#"><img
				src="${requestContext.contextPath}/media/image/downbtn02.png">
		</a>
	</div>
</div>


<script>
	$(document).ready(function() {
		$('#header').hide();
		$('#footer').hide();
		var agent = navigator.userAgent.toLowerCase();  
		//点击监听事件
			$('#download').on("click", function(event) {
				if(agent.indexOf("mqqbrowser")>-1)
				{
					$('.btnsty').css("display", "block");
				}
			});
		});
</script>
