<!--main 页面主体开始-->      
<div id="Page_download"  class="row" data-role="page">
	<div class="col-md-12 warp" style="text-align:center">
		<div class="row">
			<div class="banner"><img src="${requestContext.contextPath}/media/image/banner03.png" border="0" usemap="#Map">
	          <map name="Map">
	            <area shape="rect" coords="207,299,340,339" href="#" target="_self" alt="ios下载">
	            <area shape="rect" coords="371,297,502,340" href="${requestContext.contextPath}/download/cvfans.apk" target="_self" alt="Android下载">
	          </map>
	        </div>
	    </div>
	    
	    <div class="row" style="margin-top:50px">
	    	<div class="col-md-1">&nbsp;</div>
        	<div class="col-md-2"><img src="${requestContext.contextPath}/media/image/iosxz.png"></div>
            <div class="col-md-3 xz_r" style="margin-left:40px;">
            	<h3>苹果客户端开发中</h3>
                <div class="xz_btn">
                	<p>IOS苹果 &nbsp;&nbsp;公测版</p>
                	<a href="#"><img src="${requestContext.contextPath}/media/image/iosbtn.png"></a>
                </div>
                <div class="xz_winxin" style="display:none;">
                	<a href="#"><img src="${requestContext.contextPath}/media/image/ioswx.png"></a>
                </div>
            </div>
            
        	<div class="col-md-2" style="margin-left:43px;"><img src="${requestContext.contextPath}/media/image/anroidxiazai.png"></div>
            <div class="col-md-3 xz_r" style="padding-left:0px">
            	<h3>安卓客户端下载</h3>
                <div class="xz_btn">
                	<p>app Android &nbsp;&nbsp;正式版</p>
                	<a href="${requestContext.contextPath}/download/cvfans.apk"><img src="${requestContext.contextPath}/media/image/androidbtn.png"></a>
                </div>
                <div class="xz_winxin">
                	<a href="#"><img src="${requestContext.contextPath}/media/image/androidwx.png"></a>
                </div>
            </div>
            <div class="col-md-1">&nbsp;</div>
	    </div>
	</div>
</div>
