<div id="Page_Home" data-role="page">
	<div class="row">
		<div class="col-md-12 banner">
			<img
				src="${requestContext.contextPath}/media/image/kachezhiyou/banner01.png" style="width:100%"
				title="#" alt="#" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
	    	<div class="wraper">
	    		<div class="wrap">
		        	<div class="driver">
		            	<div class="desc_area">
		                	<h1>卡车司机</h1>
		                    <p>期待服务联盟的种子发芽，让手机屏幕上的轻轻一划，带走您长途奔波的辛苦……</p>
		                    <div class="clear"></div>
		                </div>
		                <img src="${requestContext.contextPath}/media/image/kachezhiyou/homepic01.png" alt="#">
		            </div>
		            <div class="station">
		            	<div class="desc_area">
		                	<h1>服务站</h1>
		                    <p>千里之外的托付，换来客户满意的笑容，我们共同缔造联盟的力量！</p>
		                    <div class="clear"></div>
		                </div>
		                <img src="${requestContext.contextPath}/media/image/kachezhiyou/homepic02.png" alt="#">
		            </div>
		            <div class="fleet">
		            	<div class="desc_area">
		                	<h1>车队车管</h1>
		                    <p>不再纠缠于繁复的沟通过程，星罗棋布般的车辆运行，也操控自如……</p>
		                    <div class="clear"></div>
		                </div>
		                <img src="${requestContext.contextPath}/media/image/kachezhiyou/homepic03.png" alt="#">
		            </div>
		        </div>
		        <div class="about">
		        	<div class="aboutmain">
		            	<div class="about_info">
		                	<div class="about_info_con">
		                    	<img src="${requestContext.contextPath}/media/image/map02.png">
		                    	<div class="call">
		                    	<img src="${requestContext.contextPath}/media/image/call.png" />&nbsp;&nbsp;服务热线：400-688-4500
		                    	</div>
								<p>公司名称：上海卡车之友网络科技有限公司</p>
								<p>地址：上海安亭国家汽车及零部件出口基地302</p>
		                    </div>
		                </div>
		            	<div class="about_line"><img src="${requestContext.contextPath}/media/image/line02.png"></div>
		            	<div class="about_xz">
		              		<div class="xzpic"><img src="${requestContext.contextPath}/media/image/sjpic.png"></div>
		                	<div class="xzbtn"><a href="${requestContext.contextPath}/download.html" target="_blank"><img src="${requestContext.contextPath}/media/image/downbutton.png"></a></div>
		            	</div>
		            	<div class="about_line"><img src="${requestContext.contextPath}/media/image/line02.png"></div>
		            	<div class="about_wx"><img src="${requestContext.contextPath}/media/image/weixin.png" alt="卡车之友微信二维码"></div>
		                <div class="clear"></div>
		            </div>
		    	</div>
		    </div>
        </div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#Page_Home").trigger("onShown");
	});
</script>


