<div id="StationDetails_Page" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>联盟简介</li>
		</@macro.Breadcrumb>
		
		 <div class="row">
        	<div class="col-lg-12">
		        <div class="introductionbody">
		        	<img src="${requestContext.contextPath}/media/image/kachezhiyou/introductionpic.png" style="margin-top:20px;">
		            <div class="bodypart1">伴随多年的经济高增长转入新常态，国内的卡车新车销售已呈现平稳态势。而随着大物流、电商的蓬勃兴起，卡车后服务市场的发展则已逐渐不能满足市场参与各方的需求，作为卡车服务市场的客户更期待在服务质量和体验上得到更大的提升。卡车之友服务联盟基于从市场参与各方的需求出发，率先在国内提出维修服务联盟的新形态，并在此基础上开展下列服务：</div>
		            <div class="bodypart2">
		            	<ul>
		                	<li>建立全面的服务商数据库系统，通过移动互联网LBS定位功能，为广大的卡车司机提供维修保养服务商的快找功能；</li>
		                    <li>利用平台工具，为维修保养及其他服务提供商提供宣传展示服务的窗口；</li>
		                    <li>利用平台的服务点评功能，逐步建立服务商和司机之间的信用评价体系，引导卡车维修保养服务走向规范化，提升用户体验；</li>
		                    <li>通过联盟会员的协议规范，让服务商之间能相互共享长距离移动的卡车司机客户，拓展每个服务商的服务范围，促进服务商之间的相互交流；</li>
		                    <li>通过积分体系，让司机朋友能享受到维修服务的实惠；</li>
		                    <li>切合实际需求，引入维修担保、代收代付功能，并结合联盟会员优先服务机制，提高物流运输的时效；</li>
		                    <li>结合卡车之友维修技术实训班，通过开设针对不同基础维修技师的分类课程和专修课程，为广大卡车维修从业人员提升维修技术服务能力，满足卡车
		技术社会化培训的需求；</li>
		                </ul>
		            </div>
		            <div class="clear"></div>
		            <div class="bodypart3">在上述基础上，伴随联盟的发展，卡车之友联盟将逐步引入<span>卡车零配件电子商务服务、新车销售、二手车买卖</span>等涵盖卡车全价值链服务!</div>
		            <div class="bodypart4">
		            	<div class="bodypart4_l">我们的宗旨 :&nbsp;&nbsp;&nbsp;&nbsp; </div>
		                <div class="bodypart4_r">革新卡车价值链，重塑多赢生态圈。</div>
		                <div class="clear"></div>
		            </div>
		            <div class="bodypart5">感谢卡车业的各方朋友关注卡车之友联盟，欢迎来电来信垂询加入联盟成员，具体请点击 <a href="#">联系方式</a></div>
		            <div class="clear"></div>
		        </div>
		   	</div>
		</div>
	</div>
</div>
        
