<div id="Page_ServiceAgreement" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
		  	 <li>首页</li>
			 <li>服务协议</li>
		</@macro.Breadcrumb>
		
		 <div class="row panel-border" style="padding-top:10px; padding-bottom:10px;">
        	<div class="col-lg-12">
		    	<div class="servicetitle">卡车之友联盟网络服务协议</div>
		    	<div class="servicebody">
		        	1、 会员在访问卡车之友网站之前，请务必仔细阅读本条款并同意本声明。会员访问卡车之友网站的行为以及通过各类方式使用卡车之友网站的行为，
		都将被视作是对本声明全部内容的认可。</br>
					2、 卡车之友网站与签约的服务提供商以合同形式约定：通过卡车之友网站及卡车之友APP发布的服务商相关信息须保证信息的真实准确性。一旦信息
		内容发生变更，须及时在网站进行更新操作。</br>
					3、 卡车之友网与签约的服务提供商以合同形式约定：加盟卡车之友服务联盟的服务商应给予联盟司机会员优先、优惠服务。</br>
		            4、 通过卡车之友网站预约卡车维修保养等售后服务的车主，在服务提供商处接受服务后，与服务提供商形成服务合同关系。卡车之友网站与该服务合
		同无关，卡车之友网站不承担因该服务合同产生的任何直接和/或间接的责任。</br>
		            5、 卡车之友网致力于提供合理、准确、完整的资讯信息，但并不保证信息的合理性、准确性和完整性，且不对因信息的不合理、不准确或遗漏导致的
		任何损失或损害承担责任。</br>
		            6、 访问者在卡车之友网注册时提供的一些个人资料，卡车之友网站除您本人同意及第9条规定外不会将用户的任何资料以任何方式泄露给任何一方。</br>
		            7、 当政府部门、司法机关等依照法定程序要求卡车之友网披露个人资料时，卡车之友网将根据执法单位之要求或为公共安全之目的提供个人资料。在
		此情况下之任何披露，卡车之友网均得免责。</br>
		            8、 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的损失，卡车之友网得免责。
		由于与卡车之友网链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，卡车之友网均免责。</br>
		            9、 卡车之友网站如因系统维护或升级而需暂停服务时，将事先公告。若因线路及非本公司控制范围外的硬件故障或其它不可抗力而导致暂停服务，于
		暂停服务期间造成的一切不便与损失，卡车之友网不负任何责任。</br>
		            10、 卡车之友网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自行承担，卡车之友网站不承担任何责任。</br>
		            11、 凡以任何方式登陆卡车之友网站或直接、间接使用卡车之友网站资料者，视为自愿接受卡车之友网站声明的约束。</br>
		        </div>
			</div>
		</div>		      
    </div>
</div>

