<div class="barbodycon">
	<ul class="list-group" style="width:100%">
		<li class="list-group-item"><a href="#"><img src="${requestContext.contextPath}/images/station/logo.jpg" width="50px"/><span style="padding-left:20px;">呼伦贝尔春兰汽车贸易有限公司岭东分公司</span></a></li>
		<li class="list-group-item"><a href="#"><img src="${requestContext.contextPath}/images/station/logo.jpg" width="50px"/><span style="padding-left:20px;">呼伦贝尔春兰汽车贸易有限公司岭东分公司</span></a></li>
		<li class="list-group-item"><a href="#"><img src="${requestContext.contextPath}/images/station/logo.jpg" width="50px"/><span style="padding-left:20px;">呼伦贝尔春兰汽车贸易有限公司岭东分公司</span></a></li>
		<li class="list-group-item"><a href="#"><img src="${requestContext.contextPath}/images/station/logo.jpg" width="50px"/><span style="padding-left:20px;">呼伦贝尔春兰汽车贸易有限公司岭东分公司</span></a></li>
		<li class="list-group-item"><a href="#"><img src="${requestContext.contextPath}/images/station/logo.jpg" width="50px"/><span style="padding-left:20px;">呼伦贝尔春兰汽车贸易有限公司岭东分公司</span></a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="barbodytitle">
	注册总数共 <a href="#">30</a>家
</div>