<div id="Page_StationDetailView" data-role='page' class="row hidden">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
			<li>服务站详情</li>
		</@macro.Breadcrumb>

		<form id="frm_station_view" data-entity="Station" class="form-horizontal">
			<input type="hidden" id="stationId" name="stationId"/>
			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="服务站名称"
					name="name" /></div>
				<div class="col-lg-6"><@macro.form_static_checkbox 
					label="联盟成员" name="isMember"  /></div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label class="control-label col-lg-2">地址</label>
						<div class="col-lg-2">
							<@macro.field_select name="province" statementId="DataInfo.Query" filter="parentId:1" optionValue="id" optionName="label" cascade="city"  >
								<option value="">选择省份</option>
							</@macro.field_select>
						</div>
						<div class="col-lg-2">
							<@macro.field_select name="city" statementId="DataInfo.Query" optionValue="id" optionName="label" filter="parentId"  initial="0" cascade="area"  >
								<option value="">选择市</option>
							</@macro.field_select>
						</div>
						<div class="col-lg-2">
							<@macro.field_select name="area" statementId="DataInfo.Query" optionValue="id" optionName="label" filter="parentId" initial="0"  >
								<option value="">选择区</option>
							</@macro.field_select>
						</div>
						<div class="col-lg-4">
							<input id="address" name="address" type="text" class="form-control" placeholder=""  >
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="联系人"
					name="contacter"  /></div>
				<div class="col-lg-6"><@macro.form_text label="联系人电话"
					name="contactTel"  /></div>
			</div>
			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="传真" name="fax"  
					/></div>
				<div class="col-lg-6"><@macro.form_text label="资质编号"  
					name="qualification" /></div>
			</div>

			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="开户银行"  
					name="accountBank" /></div>
				<div class="col-lg-6"><@macro.form_text label="开户银行账户"  
					name="accountNo" /></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<@macro.form_checkbox name="brand" label="品牌"  
					statementId="DataInfo.Query" filter="parentId:2" span="2,10" cols=11 value="label"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<@macro.form_checkbox name="serviceMemo" label="服务品牌"  
					statementId="DataInfo.Query" filter="parentId:2" span="2,10" cols=11 value="label"/>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="经度"  
					name="posLong" /></div>
				<div class="col-lg-6"><@macro.form_text label="纬度"  
					name="posLat" /></div>
			</div>
			
			<div id="uploadify" class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="control-label col-lg-4">营业执照</label>
						<div class="col-lg-8">
							<input type="hidden" id="licenseFileUri" name="licenseFileUri" />
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<@macro.form_textarea label="简介" name="briefIntro" span="2,10"/>
				</div>
			</div>
		
			<div class="space12"></div>
			<div class="row ">
				<div class="col-lg-12" style="text-align:center">
					<@macro.button_back/></div>
			</div>
		</form>
	</div>
</div>












