<div id="Page_updatePassword" data-role='page' class="row" style="margin-left: 45px;min-height: 350px">
	<div class="col-lg-12">
		<div>
			<@macro.Breadcrumb>
				<li>
				  	<a href="#">设置</a>
				</li>
				<li>密码安全</li>
			</@macro.Breadcrumb>
		</div>
		<form id="frm_user" class="form-horizontal" >
			<div class="row">
				<div class="col-lg-6"><@macro.form_text label="新密码" name="oldPwd" /></div>
				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<@macro.form_text label="确认密码" name="newPwd" />
				</div>
			</div>
			
		
			<div class="space12"></div>
			<div class="row ">
				<div class="col-lg-8" style="text-align: center;">
					<@macro.button_save form="frm_user"/>
			</div>
			</div>
		</form>
	</div>
</div>








