<div id="Page_AutoListView" class="row" data-role="page">
	<div class="col-lg-12">
		<@macro.Breadcrumb>
			  <li>
			  	<a href="#">车辆管理</a>
			  </li>
			  <li><a href="#">车辆查询</a></li>
		</@macro.Breadcrumb>	
	
	<div class="row">
		<div class="col-lg-12">
			<form id="frm_auto_query" class="form-horizontal">
				<div class="row">
					<div class="row">
						<div class="col-lg-4">
							<@macro.form_text label="车牌号" name="plateNo"/>
						</div>
						
						<div class="col-lg-8"  style="text-align:right">
							<@macro.button_query/>
	     				    
	     				    <@macro.button_add page="Page_AutoDetails"/>
	     				    
	        				<@macro.button_delete id="autoId" table="datatable_auto" url="/Persist/AutoInfo/Delete.action" message="是否要删除当前选择的车辆?" success="btn_query" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	    
	<div class="row">
		<@macro.dataTable id="datatable_auto" statement="cvfans.queryAutoInfos_enterprise" criteria="frm_auto_query">
			<thead>
				<tr role="row">
					<th tabindex="0"><div class="checkbox" style="width:20px;"> <label><input type="checkbox" class="dataTable_selectAll"/></label></div></th>
					<th tabindex="0">车牌号</th>
					<th tabindex="0">类型</th>
					<th tabindex="1">品牌</th>
					<th tabindex="2">型号</th>
					<th tabindex="3">注册时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody/>
		</@macro.dataTable>
	</div>
</div>
</div>
