<div id="Page_Index" class="row" data-role="page">
	<div class="col-lg-4">
		<div>
			<img src="${requestContext.contextPath}/media/image/banner.jpg" title="#" alt="#"/>
		</div>
		
		<div class="screen">
			<h3>
				<span>筛选项</span>
			</h3>
			<div class="screen_main">
				<form class="form-horizontal" role="form" style="padding-top:20px">
				   <div class="form-group">
				      <label for="brand" class="col-sm-2 control-label">品牌:</label>
				      <div class="col-sm-10">
				         <select name="brand" class="xllb">
							<option value="请选择品牌">
								请选择品牌
							</option>
							<option value="东风">
								东风
							</option>
						</select>
				      </div>
				   </div>
				   <div class="form-group">
				      <label for="area" class="col-sm-2 control-label">区域:</label>
				      <div class="col-sm-10">
				         <select name="area" class="xllb">
							<option value="请选择区域">
								请选择区域
							</option>
							<option value="北京">
								北京
							</option>
						</select>
				      </div>
				   </div>
				   <div  class="form-group">
				   	   <label for="area" class="col-sm-2 control-label"></label>
				   	   <div class="col-sm-10">	
						   <label class="checkbox-inline">
						      <input type="radio" name="optionsRadiosinline" id="optionsRadios3" 
						         value="option1" checked> 全部
						   </label>
						   <label class="checkbox-inline">
						      <input type="radio" name="optionsRadiosinline" id="optionsRadios4" 
						         value="option2"> 加盟
						   </label>
						</div>
					</div>
				   <div class="form-group">
				      <div class="col-lg-12 control-label">
				         <button type="submit" class="btn green btn-block">检索</button>
				      </div>
				   </div>
				</form>
			</div>
		</div>
		
		<div class="sales">
			<h3>
				<span>促销速递</span>
			</h3>
			<div class="sales_box">
				<ul>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
					<li>
						<a href="#">上海XXXXXX有限公司机油大促销</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="ad">
			<img
				src="${requestContext.contextPath}/media/image/kachezhiyou/ad/ad.jpg"
				title="#" alt="#" style="width:100%"/>
		</div>
	</div>
	
	<div class="wrap-right col-lg-8"> 
		<div class="row">
			<img src="${requestContext.contextPath}/media/image/banner.jpg" title="#" alt="#"/>
		</div>
		
		<div class="row" style="margin-top:40px;">
			<h3><span>推荐店铺</span></h3>
		</div>
		
		<div class="row" style="background:#ffffff">
			<div class="col-lg-12">
				<div class="panel" style="padding-bottom:20px;padding-top:10px">
					<div class="panel-header">
						<h3>
							上海XXXXXXXX机电有限公司
						</h3>
					</div>
					
					<div class="row panel-body">	
						<div class="col-lg-8">
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/add.png" />
									<span>上海市浦东新区XXX路</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/phone02.png" />
								<span>021-12345678</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/star.png" />
								<span>9分</span>
							</p>
						</div>
								
						<div class="col-lg-4">
							<img src="${requestContext.contextPath}/media/image/kachezhiyou/ad/displaypic.jpg" style="width:100%"/>
						</div>
					</div>
				</div>
				
				<div class="panel" style="padding-bottom:20px;padding-top:10px">
					<div class="panel-header">
						<h3>
							上海XXXXXXXX机电有限公司
						</h3>
					</div>
					
					<div class="row panel-body">	
						<div class="col-lg-8">
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/add.png" />
									<span>上海市浦东新区XXX路</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/phone02.png" />
								<span>021-12345678</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/star.png" />
								<span>9分</span>
							</p>
						</div>
								
						<div class="col-lg-4">
							<img src="${requestContext.contextPath}/media/image/kachezhiyou/ad/displaypic.jpg" style="width:100%"/>
						</div>
					</div>
				</div>
				
				<div class="panel" style="padding-bottom:20px;padding-top:10px">
					<div class="panel-header">
						<h3>
							上海XXXXXXXX机电有限公司
						</h3>
					</div>
					
					<div class="row panel-body">	
						<div class="col-lg-8">
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/add.png" />
									<span>上海市浦东新区XXX路</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/phone02.png" />
								<span>021-12345678</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/star.png" />
								<span>9分</span>
							</p>
						</div>
								
						<div class="col-lg-4">
							<img src="${requestContext.contextPath}/media/image/kachezhiyou/ad/displaypic.jpg" style="width:100%"/>
						</div>
					</div>
				</div>
				
				<div class="panel" style="padding-bottom:20px;padding-top:10px">
					<div class="panel-header">						<h3>
							上海XXXXXXXX机电有限公司
						</h3>
					</div>
					
					<div class="row panel-body">	
						<div class="col-lg-8">
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/add.png" />
									<span>上海市浦东新区XXX路</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/phone02.png" />
								<span>021-12345678</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/star.png" />
								<span>9分</span>
							</p>
						</div>
								
						<div class="col-lg-4">
							<img src="${requestContext.contextPath}/media/image/kachezhiyou/ad/displaypic.jpg" style="width:100%"/>
						</div>
					</div>
				</div>
				
				<div class="panel" style="padding-bottom:20px;padding-top:10px">
					<div class="panel-header">
						<h3>
							上海XXXXXXXX机电有限公司
						</h3>
					</div>
					
					<div class="row panel-body">	
						<div class="col-lg-8">
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/add.png" />
									<span>上海市浦东新区XXX路</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/phone02.png" />
								<span>021-12345678</span>
							</p>
							
							<p>
								<img src="${requestContext.contextPath}/media/image/kachezhiyou/common/star.png" />
								<span>9分</span>
							</p>
						</div>
								
						<div class="col-lg-4">
							<img src="${requestContext.contextPath}/media/image/kachezhiyou/ad/displaypic.jpg" style="width:100%"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
